@using Newtonsoft.Json;
@using RockstarsHealthCheckVisualization.Core.Charts;
@{
    ViewData["Title"] = "Home Page";
}

<button onClick="window.location.reload();">Refresh Page</button>

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Average answers"
            },
            axisY: {
                minimum: -2,
                maximum: 2,
                interval: 1
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "column",
                name: "Questions",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }]
        });
        chart.render();

<body onload="createAllPieCharts(@ViewBag.test)">



    @for (int i = 0; i < ViewBag.Amount; i++)
    {
        <div id="chartContainer-@i" @*onload="createPieChart(@data,'chartContainer-@name')"*@ style="height: 370px; width: 100%;"></div>
    }



</body>
@*<div id="chartContainer" style="height: 370px; width: 100%;" onload="createPieChart(@Html.Raw(ViewBag.DataPoints))"></div>
*@
@*<div id="chartContainer" style="height: 370px; width: 100%;"></div>
*@@*<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Average answers"
            },
            axisY: {
                minimum: -2,
                maximum: 2,
                interval: 1
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "column",
                name: "Questions",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
                        }]
        });
        chart.render();
    }
</script>














@*    //var chart = new CanvasJS.Chart("chartContainer", {
    //    animationEnabled: true,
    //    title: {
    //        text: "Average answers"
    //    },
    //    axisY: {
    //        minimum: 0,
    //        maximum: 5,
    //        interval: 1
    //    },
    //    toolTip: {
    //        shared: true
    //    },
    //    data: [{
    //        type: "column",
    //        name: "Questions",
    //        dataPoints: @Html.Raw(ViewBag.DataPointsBarChart)
    //            }]
    //});
    //chart.render();*@